/BackupCow.identcache
/BackupCow.res
/BackupCow_Server.dproj.local
/BackupCow_Server.identcache
/BackupCow_Server.res
/MangoBackup.dproj
/ProjectGroup1.groupproj
/ProjectGroup1.groupproj.local
/Debug
